# Compiled Go binaries and packages
/bin/
/pkg/

# Go workspace files
go.work

# Log files and databases
*.log
*.sql
*.sqlite

# Dependency directories
vendor/
node_modules/

# Environment files
.env

# Temporary files
tmp/

# Docker temp files
**/.dockerignore
**/Dockerfile.dev
**/Dockerfile

# Terraform related ignores
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraformrc
terraform.rc

# Ignore local binary folder
/bin

# Compiled static files
frontend/css/styles.css

# Build directories
/dist

# Editor and IDE files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Package lock files (optional, depending on your preference)
# package-lock.json
# yarn.lock

# Custom ignore
# Add any other directories or files specific to your project
